{% extends "layout.html" %}

{% block content %}
  <h3>Trip Planner</h3>
  <hr>
  <form method="GET" action="#">
    <input type="text" name="search" />
    <button type="submit">Search</button>
  </form>
  <hr>
  <form>
    <label for="hotels">Hotels</label>
    <select name="hotels" id="">
      {% for hotel in hotels %}
      <option value="id{{hotel.id}}">{{hotel.name}}</option>
      {% endfor %}
    </select>
    <label for="restaurants">Restaurants</label>
    <select name="restaurants" id="">
      {% for restaurant in restaurants %}
      <option value="id{{restaurant.id}}">{{restaurant.name}}</option>
      {% endfor %}
    </select>
    <label for="activities">Activities</label>
    <select name="activities" id="">
      {% for activity in activities %}
      <option value="id{{activity.id}}">{{activity.name}}</option>
      {% endfor %}
    </select>
  </form>
{% endblock %}
