body {
  background-color: #cccccc; }

@media (min-width: 1200px) {
  .container {
    width: 100%; } }

.panel-heading h2 {
  text-align: center; }

a.navbar-brand {
  font-size: 25px; }

#sidebar .day-buttons {
  text-align: center; }

#sidebar .panel {
  background-color: #efefef; }

#sidebar .btn {
  border-radius: 100%; }

#sidebar label {
  display: block;
  color: #9cc360; }

#sidebar select {
  display: inline-block;
  max-width: 80%; }

#sidebar button {
  margin-left: 20px; }

#map {
  height: 100vh; }

#my-day h3 {
  font-size: 15px;
  color: #5bc0de; }

ul > li {
  list-style-type: none;
  padding: 5px 0; }
  ul > li .btn-danger {
    float: right;
    font-size: 8px; }
  ul > li i {
    padding-right: 10px; }
