html, body {
	//height: 100%
}

body {
	background-color: #cccccc;
}

@media (min-width: 1200px){
	.container {
	    width: 100%;
    }
}

a.navbar-brand {
  font-size: 25px;
}

#sidebar .panel {
  background-color: #efefef;
}

#sidebar .btn {
  border-radius: 100%;
}

#sidebar label {
    display: block;
    color: darken(#cadfaa, 20%);
}

#sidebar select {
  display: inline-block;
  max-width: 80%;
}

#sidebar button {
  margin-left: 20px;
}

#map {
  height: 100vh;
}

#my-day h3 {
  font-size: 15px;
}

// #my-day .btn-danger {
//
// }
